#MainNav {
    .workshopCon {

        position:initial;
        #codeSvg {
            width: 70px;
            height: 70px;
            margin-top: -20px;
        }

        &__Title {
            margin-left: 2%;
            font-size: 30px;
            font-weight: 500;
            color: $paragraphColour;
        }


        p {
            min-height: 100px;
            max-width: 70%;
            margin-top: 5%;
            color: $paragraphColour;
        }

        .myButton {
            margin: 5% 15%;
        }


    }



    .svgFam {

        &__botRight,
        &__botLeft,
        &__topRight,
        &__topLeft {
            overflow: hidden;
        }

        &__botRight {
            left: 50%;
            top: 100%;
        }

        &__botLeft {
            left: -30%;
            top: 70%;
        }

        &__topLeft {
            left: -25%;
            top: -35%;
        }

        &__topRight {
            top: -25%;
            left: 40%;
        }
    }

    @media (max-width: 1500px) {

        .workshopCon p {
            min-height: 120px;
        }

        .svgFam {



            &__botRight,
            &__botLeft,
            &__topRight,
            &__topLeft {
                max-width: 70px;
                max-height: 70px;
            }

            &__center {
                max-width: 110px;
                max-height: 110px;
            }

            &__botRight {
                left: 50%;
                top: 30%;
            }

            &__topLeft {
                left: -40%;
            }



            &__topRight {
                left: 40%;
            }

            &__botLeft {
                top: 30%;
            }
        }
    }

    @media (max-width: 993px) {


        .workshopCon {
            .myButton {
                margin: -10% 0% 0% 30%;
                display: inline-block;
            }

            * {
                text-align: center;
            }

            &__Title {
                margin: 0px;
            }

            p {
                max-width: 100%;
            }
        }

        .svgFam {


            margin: 20% 25%;
            margin-left: 35%;

            &__botRight,
            &__botLeft,
            &__topRight,
            &__topLeft {
                max-width: 70px;
                max-height: 70px;
            }

            &__center {
                max-width: 110px;
                max-height: 110px;
                margin-top: -25%;
            }

            &__topLeft {
                top: -150px;
                left: -40%;
            }

            &__topRight {
                top: -150px;
                left: 40%;
            }

            &__botRight {
                left: 70%;
            }


        }
    }

    .bubbleGuide {
        margin: 20% 0% 0% -5%;
        text-align: center;
        position: absolute;

        h6 {
            padding-top: 5px;
            margin-left: 20px;
            opacity: .7;

        }

        a{
            max-width:0px!important;
        }
    }

    @media (max-width: 770px) {

        .svgFam {
            margin: 30% 25%;
        }

    }

    @media (max-width: 500px) {

        .svgFam {

            margin: 50% 25% 30% 33%;

            &__botRight {
                left: -33%;
                top: -10%;
            }

            &__botLeft {
                left: 70%;
            }
        }

        .workshopCon {


            &__Title {
                font-size: 20px;

            }

            p {
                min-height: 80px;
                font-size: 13px;
            }

        }

        .svgFam {

            &__botRight,
            &__botLeft,
            &__topRight,
            &__topLeft {
                max-width: 50px;
                max-height: 50px;
            }

            &__center {
                max-width: 70px;
                max-height: 70px;
                margin-top: -60%;
            }


        }

        .bubbleGuide {
            h6 {
                font-size: 13px;
                text-align: center;
            }

            margin:10% 0% 0% -2%;
        }
    }
}