
.animatedText{
  font-weight: 600;
  color:#28b781;
}

.contactForm {
  background: $contactGradientVertical;
  color: white;
  border-radius: 15px;
  padding: 5% 5% 10% 5%;
  margin-bottom: 10%;

  &__title {
    font-weight: 100;
    font-size:30px;
    text-align: center;
    margin-bottom:5%;
  }

  &__about{
    color:white;
    text-align: center;
    margin-bottom: 10%;
  }

  &__subtitle {
    font-size:20px;
    margin: 3% 0;
    text-align: center;
    font-weight: 600;
  }

  .inputBox,
  label {
    display: block;
  }

  input,textarea {
    &:focus {
      -webkit-box-shadow:0px 14px 35px -6px rgba(45, 250, 188, 0.7);
      -moz-box-shadow: 0px 14px 35px -6px rgba(45, 250, 188, 0.7);
      box-shadow: 0px 14px 35px -6px rgba(45, 250, 188, 0.7);
    }
  }

  .inputBox,
  &__select {
    margin-bottom: 5%;
  }

  .inputText {
    border-radius: 10px;
    width: 100%;
    height: 50px;
    padding-left:10px;

  }

  .inputBox-name {
    @extend .inputBox;
    width: 50%;
    display: inline-block;
    .inputText {
      width: 80%;
    }
  }
  
  .inputBox-mail{
    @extend .inputBox;
    width:50%;
    display: inline-block;
    .inputText{
      width:100%;
    }
  }

  textarea {
    width: 100%;
    resize: none;
    border: none;
    height:120px;
    padding:10px 0 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    
    &:focus {
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
  

  &__submit {
    margin:0 auto;
    border: none;
    border-radius: 15px;
    background: transparent;
    width: 130px;
    height: 40px;
    border: 1px solid #28b781;
    display: block;
    margin-top: 5%;
    font-size: 23px;
    color: white;
    transition: all 0.5s;
    font-weight:100;
    &:hover {
      color: white;
      background: #28b781;
    }
  }
}

@media (max-width:770px)
{
  .contactForm
  {
    &__title {
      font-size:20px;
      margin-bottom:3%;
    }

    &__about{
      font-size:14px;
    }

    textarea
    {
      height:100px;
    }
  

    &__subtitle{
      margin-top:5%;
      font-size:18px;
    }

    .inputBox-name,.inputBox-mail {
      width: 100%;
      .inputText {
        width: 100%;
      }
    }

  }

}
