.EventInfo {
    &__Date {
        margin-left: 5%;
    }

    &__information {
        width: 50%;
        margin-top: 5%;

    }

    .myButton {
        border: none;
    }
}

.EventPoster {
    text-align: center;

    &__image {
        border-radius: 15px;
        max-width: 70%;
        transition: all .5s;

        &:hover {
            transform: scale(1.03);
            cursor: pointer;
        }
    }

    &__text {
        margin-top:10px;
        font-weight: 500;
        font-size: 17px;
    }
}

.postIntroRow {
    margin: 30% 0%;

    h1 {
        font-size: 30px;
        margin-bottom: 5%;
        display: inline-block;
        border-bottom: 1px solid black;
    }


    .LinksCont {
        text-align: center;

        .LinkContainer {
            margin: 5%;
        }


    }

}

.PhotosRow {
    text-align: center;

    &__image {
        @extend .EventPoster__image;
        margin-top: 10%;
    }
}

.ctaRow {

    .ctaBlock {
        text-align: center;

        &__Title {
            font-size: 20px;
        }

        .myButton {
            text-align: center;
        }

        &__Divider
        {
            margin:15px auto 40px auto;
            width:15%;
            border-bottom:1px solid black;
        }
    }

}

.codeSnippetRow {
    .codeSnippet {
        margin-top: 5%;
    }

    .LinkContainer {
        margin: 30% 0px 0px 5%;
    }
}

.cheatSheet {
    border-radius: 15px;
    padding: 3% 3% 10% 3%;
    -webkit-box-shadow: 0px 14px 35px -6px rgba(59, 121, 201, 0.7);
    -moz-box-shadow: 0px 14px 35px -6px rgba(59, 121, 201, 0.7);
    box-shadow: 0px 14px 35px -6px rgba(59, 121, 201, 0.4);

    .cheatIntro {
        h2 {
            color: $workshopTextColor;
            font-size: 30px;
            display: inline;
        }

        svg {
            margin: -5px 2% 10px 0px;
            width: 40px;
        }
    }

    .cheatDetails {
        #gitSvg path {
            fill: #28a2b7;
            stroke: none;
        }

        &__codeLine
        {display:block;
            margin-bottom: 20px;
        }

        &__command
        {
            font-weight: 700;
            color:#28b46e;
        }

        svg {
            width: 25px;
            margin: 0px 2% 0px 0px;
        }

        h3 {
            display: inline-block;
            font-size: 23px;
        }

    }


    .StageContainer {
        margin-top: 10%;
    }
}

.tipContainer {
    margin-top: 40%;

    p {
        border-left: 3px solid $workshopTextColor;
        border-right: 1px solid rgb(219, 219, 219);
        border-top: 1px solid rgb(219, 219, 219);
        border-bottom: 1px solid rgb(219, 219, 219);
        padding: 10%;
        margin-left: 40px;
        -webkit-box-shadow: 0px 14px 35px -10px rgba(194, 194, 194, 0.5);
        -moz-box-shadow: 0px 14px 35px -10px rgba(194, 194, 194, 0.5);
        box-shadow: 0px 14px 35px -10px rgba(194, 194, 194, 0.5);

    }
}

@media (max-width:1450px)
{
    .cheatSheet
    {

        .cheatDetails
        {
            h3{
                font-size:17px;
            }
            &__codeLine
            {
                font-size:15px;
            }
        }

        .stages
        {
            text-align: center;
        }
    }

    
.tipContainer {
    

    p {
     
        padding: 10%;
        margin-left: 40px;
        -webkit-box-shadow: 0px 14px 35px -10px rgba(194, 194, 194, 0.5);
        -moz-box-shadow: 0px 14px 35px -10px rgba(194, 194, 194, 0.5);
        box-shadow: 0px 14px 35px -10px rgba(194, 194, 194, 0.5);

    }
}
}
@media (max-width:990px)
{.EventInfo
    {

            .myButton {
             
                margin-top:5%;
                width:70%;
            }
    }

    .cheatSheet
    {

        .cheatDetails
        {
            h3{
                font-size:16px;
            }

            &__codeLine
            {
                font-size:15px;
            }


            svg
            {
                max-width:25px;
            }

        }

        .stages
        {
            text-align: center;
        }
    }

}
@media (max-width:770px)
{
    .EventInfo
    {
        margin-top:10%;
        text-align: center;

        .myButton {
            border: none;
            font-size:20px;
            margin-top:10%;
            width:70%;
        }
    &__information {
        
        width: 100%;
    }

    }

.tipContainer
{
    p{
    font-size: 13px;
    margin-left:0px;
    }
}

.EventPoster {
    text-align: center;
    margin-top:20%;
    &__image {
        max-height: 70%;
    }
}
}