.eventLeftCont {
    &__image {
        height: 300px;
        width: 80%;
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        transition: all .5s;

        &:hover
        {
            transform: scale(1.05);
        }
    }

    &__Title {
        margin-left: 10%;
    }




    &__info {
        color: white;
        border-radius: 15px;
        padding: 2% 3% 5% 2%;
        margin: -5% 0% 0% 20%;
       
        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        h6 {
            font-size: 17px;
        }
        
        h3,h6
        {
            display: block;
        }

        .row * {
            text-align: center;

        }

        .eventLeftCont__center
        {
            border-left:1px solid rgba(255, 255, 255, 0.486);
            border-right:1px solid rgba(255, 255, 255, 0.486);
        }

        &-workshop
        {
            @extend  .eventLeftCont__info;
            background: $workshopGradientVerticalDarker;
            -webkit-box-shadow: 0px 14px 35px -6px rgba(41, 192, 179,.7);
            -moz-box-shadow: 0px 14px 35px -6px rgba(41, 192, 179,.7);
            box-shadow: 0px 14px 35px -6px rgba(41, 192, 179,.7);
    
        }
    }
}

.eventRightCont
{
    margin:5% 0% 20% 0%;
    
    h1{
        font-size:30px;
        text-align: right;
        padding-bottom: 5%;
        margin-bottom: 5%;
        border-bottom: 1px solid black;
    }

    .myButton
    {
        margin:5% 0% 0% 5%;
        padding-left:8%;
        
        &-workshop
        {
            @extend .myButton;
            border-left:2px solid $workshopTextColor;
        }
    }
}

@media (max-width:1450px)
{
    .eventLeftCont__info
    {
        h3
        {
            font-size:16px;
        }

        h6{
            font-size:14px;
        }
    }
}

@media (max-width:1201px)
{
    .eventLeftCont {
        &__image {
            height: 200px;
        }
    

    
    
        &__info {
            margin: -5% 0% 0% 8%;
            -webkit-box-shadow: 0px 14px 35px -6px rgba(41, 192, 179,.7);
            -moz-box-shadow: 0px 14px 35px -6px rgba(41, 192, 179,.7);
            box-shadow: 0px 14px 35px -6px rgba(41, 192, 179,.7);
    
            h3 {
                font-size: 15px;
                margin-bottom: 30px;
            }
    
            h6 {
                font-size: 14px;
            }
    
            h3,
            h6 {
                display: inline-block;
                text-align: center;
    
            }
        }
    }
    
}

@media (max-width:992px)
{
    .eventRightCont
    {
        margin-top:20%;
    }
}

@media (max-width:992px)
{
    .eventRightCont
    {
        margin-top:20%;
    }
}


@media (max-width:799px)
{
    .eventLeftCont
    {
        margin-top:10%;
       
    }
    }



@media (max-width:575px)
{
    .eventLeftCont
    {

        &__Title
        {
            font-size:25px;
        }
        &__image
        {
            width:100%;
        }

        &__info {
            margin: -8% 0% 0% 3%;
        }
    }

    .eventRightCont
    {

        h1
        {
            font-size:20px;
        }

        p
        {
            font-size:16px;
        }
        .myButton
        {
            font-size:20px;
        }
    }
}