// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.home {
overflow-X:hidden;
    .leftContent {
        &__title {
            margin-top: 10%;
            font-size: 70px;
            font-weight: 900;
            word-spacing: 60px;
        }

        &__subtitle {
            font-size: 50px;
            font-weight: 100;
            margin: 5% 0 0 0%;
        }

        &__title,
        &__subtitle {
            color: $stellaTextColor;
            text-shadow: $stellaTextShadow;
        }
    }

    .skipButton
    {
        z-index: 3;
        border:none;
        background: white;
        font-style: italic;
        color:$paragraphColour;
        position: fixed;
    }

    .rightContent {
        border-left: 1px solid black;
        margin-top: 15%;
        padding-bottom: 10%;
        left:1000px;        
        &__paragraph {
            margin-left: 7%;
            font-size: 35px;
            color: $paragraphColour;
        }
    }

    .homeCTA {
        margin-top: 7%;
    }

    &__latest {
        font-size: 22px;
        margin-right: 5%;
        font-weight: 400;
        display: inline-block;
        color: $workshopTextColor;
    }

    &__scrollAction {
        font-size: 30px;
        font-weight: 100;
        margin-left: 15%;
        color: $stellaTextColor;
        text-shadow: $stellaTextShadowHarder;
    }

        .callToActionSvg {
        width: 50px;
    }
    
}

@media (max-width:1400px) {
    .home {
        .leftContent {
            &__title {

                font-size: 30px;
                word-spacing: 30px;
            }

            &__subtitle {
                font-size: 25px;
            }
        }

        .rightContent {
            &__paragraph {
                font-size: 18px;
            }
        }

        .home__scrollAction {
            font-size: 18px;
            margin:40% 0 0 0;
        }

        

        

        svg {
            max-width: 22px;
        }

        .homeCTA
    {
        margin-top:15%;
    }
    }

    
}

@media (max-width:780px)
{
    .skipButton
    {
        display: block;
        position: static!important;
        z-index: 3;
        border:none;
        background: transparent;
        font-style: italic;
        color:$paragraphColour;
        margin-top:10%;
    }

    .scrollGuide {
        margin-top: 30px;
        .home__scrollAction{
            
            font-size: 20px;
        }

        svg {
            margin-top:4px;
            max-width:25px;
        }
    }

    .homeCTA
    {
        text-align: center;
        
        

    }
}
