.topic                              
{
    margin-bottom:20%;
}
.topicsCont {
    &__Category {
        font-size: 20px;
        margin:-2% 0% 5% 0%;

        &-workshop
        {
            @extend .topicsCont__Category;
            color: $workshopTextColor;
        }

        &-talk
        {
            @extend .topicsCont__Category;
            color: $talkTextColor;
        }

       
    }

    &__Title {
        font-size: 40px;
        font-weight: 900;
        display: inline-block;
        margin-left: 2%;

        &-workshop
        {
            @extend .topicsCont__Title;
            color: $workshopTextColor;
        }

        &-talk
        {
            @extend .topicsCont__Title;
            color: $talkTextColor;
        }

       
    }

    &__Svg {
        max-height: 50px;
        max-width: 50px;
        display: inline-block;
        margin: -3% 0% 0% 5%;
    }

    p {
        margin: 7% 0 10% 4%;
        max-width: 60%;
        color:$paragraphColour;
    }

    .myButton
    {
        margin:5% 0% 0% 25%;
    }
}


.keywordsCont {
    text-align: center;



    &__keywordText {


        &-workshop
        {
            
            color: $workshopTextColor;
        }

        &-talk
        {
            
            color: $talkTextColor;
        }

       
    }


    &__divider {
        width: 5%;
        height: 2px;
        display: inline-block;
        margin-bottom: 10%;

        &-workshop {
            @extend .keywordsCont__divider;
            background-color: $workshopTextColor
        }

        &-talk
        {
            @extend .keywordsCont__divider;
            background-color: $talkTextColor;
        }

       

        
    }

    .keywordsSVG {
        display: block;



        

        svg {

            text-align: center;
            width: 50px;
            height: 50px;
        }

        &__SvgTitle
        {
            display: block;
            color:$paragraphColour;
           
        }

    }
}

@media (max-width:1300px)
{
    .topicsCont
    
    {
    &__Title{
        font-size:30px;
    }

    &__Svg
    {
        max-width: 40px;
    }
}
}




@media (max-width:1000px) {

    .topic                              
{
    margin-bottom:50%;
}
    
    .topicsCont{

        

        .myButton{
        margin:15%;
        min-width:60%;
        font-size:120%;
        }

        &__Category {
            font-size: 14px;
            margin: 10% 0;
        }

        p{
            max-width:80%;
        }
    }
        .keywordsCont {

            margin-top:15%;

            .keywordsSVG {
                &__SvgTitle {
                    font-size: 13px;
                }

                svg {
                    width: 50px;
                    height: 50px;
                }
            }
        }
}