.workshopCon
{

    #codeSvg 
    {
        width:70px!important;
        height: 70px!important;
        margin-top:-20px;  
    }

    &__Title
    {
        margin-left:5%;
        font-size:40px;
    }
    
    p
    {
        max-width: 70%;
        margin-top:5%;
    }

    .myButton
    {
        margin:0 10%;
    }
}