.workshopCon {



    #codeSvg {
        width: 70px;
        height: 70px;
        margin-top: -20px;
    }

    &__Title {
        margin-left: 5%;
        font-size: 40px;
    }

    p {
        max-width: 70%;
        margin-top: 5%;
    }

    .myButton {
        margin: 0 10%;
    }


}

.svgFam {

    &__botRight,
    &__botLeft,
    &__topRight,
    &__topLeft {
        overflow: hidden;
    }

    &__botRight {
        left: 50%;
        top: 70%;

    }

    &__botLeft {
        left: 15%;
        top: 70%;
    }

    &__topLeft {
        left: -25%;
        top: 5%;
    }

    &__topRight {
        left: 40%;
    }
}

@media (max-width: 1500px) {
    .svgFam {



        &__botRight,
        &__botLeft,
        &__topRight,
        &__topLeft {
            max-width: 70px;
            max-height: 70px;
        }

        &__center {
            max-width: 110px;
            max-height: 110px;
        }

        &__botRight {
            left: 50%;
            top: 30%;
        }

        &__topLeft {
            left: -20%;
        }

        &__topRight {
            left: 40%;
        }

        &__botLeft {
            left: 30%;
            top: 30%;
        }
    }
}

@media (max-width: 993px) {
    .svgFam {


        margin: 20% 25%;
        margin-left: 35%;

        &__botRight,
        &__botLeft,
        &__topRight,
        &__topLeft {
            max-width: 70px;
            max-height: 70px;
        }

        &__center {
            max-width: 110px;
            max-height: 110px;
            margin-top: -25%;
        }

        &__topLeft {
            left: -40%;
        }

        &__botLeft {
            left: 30%;
        }

        &__topRight {
            left: 40%;
        }

        &__botRight {
            left: 70%;
        }


    }
}

@media (max-width: 770px) {

    .svgFam {
        margin: 30% 25%;
    }

}

@media (max-width: 500px) {

    .svgFam {

        margin: 50% 25%;

        &__botRight {
            left: 63%;
        }

        &__botLeft {
            left: 70%;
        }
    }
}