.breadCrumbs
{
    font-size: 17px;
        margin:-2% 0% 5% 0%;

        
        &-workshop
        {
            @extend .breadCrumbs;
            color: $paragraphColour;
            
            a{
                color:$workshopTextColor;
            }
        }

        &-talk
        {
            @extend .breadCrumbs;
            color:$paragraphColour;

            a{
                color:$talkTextColor;
            }


        }

        &-event
        {
            @extend .breadCrumbs;
            color:$paragraphColour;
            
            a{
                color:$eventTextColor;
            }
        }

        &-stella
        {
            @extend .breadCrumbs;
            color:$paragraphColour;
            
            a{
                color:$stellaTextColor;
            }
        }

        &-contact
        {
            @extend .breadCrumbs;
            color:$paragraphColour;
            
            a{
                color:$workshopTextColor;
            }
        }
}

@media (max-width:1000px) {
    .breadCrumbs {
        font-size: 14px;
        margin: 10% 0;
    }
}