// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// ta buttons exoun 2 katigories, me xroma kai xoris
//oi katigories vasizontai sto group pou anikoun,me vasi xroma [Stella,event,talk,workshop]
.myButton {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  

  &--colourless {
    font-weight: 900;

    &--workshop {
      color: $workshopTextColor;

      &:hover {
        text-shadow: $workshopTextShadow;
      }
    }

    &--talk {
      color: $talkTextColor;

      &:hover {
        text-shadow: $talkTextShadow;
      }
    }

    &--stella {
      color: $stellaTextColor;

      &:hover {
        text-shadow: $stellaTextShadow;
      }
    }

    &--event {
      color: $eventTextColor;

      &:hover {
        text-shadow: $eventTextShadow;
      }
    }
  }

  &--colored {
    padding: 10px 0px 10px 0px;
    color: #fff;
    width: 250px;
    border-radius: 24px;
    &--stella {
      @include coloredButton($stellaGradient, $stellaShadow, $stellaShadowHover);
    }

    &--event {
      @include coloredButton($eventGradient, $eventShadow, $eventShadowHover);
    }

    &--talk {
      @include coloredButton($talkGradient, $talkShadow, $talkShadowHover);
    }

    &--workshop {
      @include coloredButton($workshopGradient, $workshopShadow, $workshopShadowHover);
    }

    &--calltoAction {
      @include coloredButton($calltoActionGradient, $calltoActionShadow, $calltoActionShadowHover);
    }

    
  }

  &:hover
    {
      transform:scale(1.05);
    }
}

.verticalLine {
  min-height: 60px;
  margin:0 2% -2% 2%;
  display: inline-block;
  border-left: 1px solid #000;
}

@media (max-width: 720px) {
  .myButton {
    font-size: 13px;

    &--colored {
      width: 150px;
    }
  }

  .verticalLine {
    min-height: 60px;
    margin-left: 4%;
    margin-right: 6%;
    margin-bottom: -10px;
    border-left: 1px solid #000;
  }
}
