// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// ta buttons exoun 2 katigories, me xroma kai xoris
//oi katigories vasizontai sto group pou anikoun,me vasi xroma [Stella,event,talk,workshop]
.myButton {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #fff;
  text-align: center;
  display: inline-block;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--colourless {
    font-weight: 700;

    &--workshop {
      color: $workshopTextColor;
      border-left: 2px solid $workshopTextColor;

      &:hover {
        text-shadow: $workshopTextShadow;
      }
    }

    &--talk {
      color: $talkTextColor;
      border-left: 2px solid $talkTextColor;

      &:hover {
        text-shadow: $talkTextShadow;
      }
    }

    &--stella {
      color: $stellaTextColor;
      border-left: 2px solid $stellaTextColor;

      &:hover {
        text-shadow: $stellaTextShadow;
      }
    }

    &--event {
      color: $eventTextColor;
      border-left: 2px solid $eventTextColor;

      &:hover {
        text-shadow: $eventTextShadow;
      }
    }
  }

  &--colored {
    padding: 10px 0px 10px 0px;
    color: #fff;
    width: 250px;
    border-radius: 24px;
    &--stella {
      @include coloredButton(
        $stellaGradient,
        $stellaShadow,
        $stellaShadowHover
      );
    }

    &--event {
      @include coloredButton($eventGradient, $eventShadow, $eventShadowHover);
    }

    &--talk {
      @include coloredButton($talkGradient, $talkShadow, $talkShadowHover);
    }

    &--workshop {
      @include coloredButton(
        $workshopGradient,
        $workshopShadow,
        $workshopShadowHover
      );
    }

    &--calltoAction {
      @include coloredButton(
        $calltoActionGradient,
        $calltoActionShadow,
        $calltoActionShadowHover
      );
    }

    &--contact {
      @include coloredButton(
        $contactGradientVertical,
        $contactShadow,
        $contactShadowHover
      );
    }
  }

  &--share {
    font-size: 20px;
    width: 190px;
    margin-top:5%;

    svg {
      margin-right: 10px;
      width: 35px;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}

.dualButtons {
  .myButton {
    margin-left: 20px;
  }
}

.verticalLine {
  min-height: 40px;
  margin: 0 2% -2% 2%;
  display: inline-block;
  border-left: 1px solid #28b781;
}

@media (max-width: 720px) {
  .myButton {
    font-size: 13px;

    &--colored {
      width: 150px;
    }
  }

  .verticalLine {
    min-height: 60px;
    margin-left: 4%;
    margin-right: 6%;
    margin-bottom: -10px;
    border-left: 1px solid #000;
  }
}
