// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


// ta buttons exoun 2 katigories, me xroma kai xoris
.btn {
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s;
    font-family: 'gilroy';
    background-color: #fff;
    &:hover
    {
        background-color:#fff;
    }
}


//oi katigories vasizontai sto group pou anikoun,me vasi xroma [Stella,event,talk,workshop]
.noborder {
    font-weight: 900;

    &.workshop {
        color: $workshopTextColor;

        &:hover {
            text-shadow: $workshopTextShadow;
        }
    }

    &.talk {
        color: $talkTextColor;

        &:hover {
            text-shadow: $talkTextShadow;
        }
    }

    &.stella {
        color: $stellaTextColor;

        &:hover {
            text-shadow: $stellaTextShadow;
        }
    }

    &.event {
        color: $eventTextColor;

        &:hover {
            text-shadow: $eventTextShadow;
        }
    }
}


.colored {
    border: none;
    height: 50px;
    width: 250px;
    color: white;
    border-radius: 24px;
    &.stella {
       @include coloredButton($stellaGradient,$stellaShadow,$stellaShadowHover)
    }

    &.event {
        @include coloredButton($eventGradient,$eventShadow,$eventShadowHover)
      
    }

    &.talk {
        @include coloredButton($talkGradient,$talkShadow,$talkShadowHover)
        
    }

    &.workshop {
        @include coloredButton($workshopGradient,$workshopShadow,$workshopShadowHover)
        
    }

    &.calltoAction {
        @include coloredButton($calltoActionGradient,$calltoActionShadow,$calltoActionShadowHover)
       
    }
}

.verticalLine {
    min-height: 60px;
    margin-left: 1%;
    margin-right: 4%;
    margin-bottom: -2%;
    display: inline-block;
    border-left: 1px solid #000;
}


@media (max-width:720px) {
    .btn {
        font-size: 15px;
    }

    .colored {
        width: 150px !important;
    }

    .verticalLine {
        min-height: 60px;
        margin-left: 2% !important;
        margin-right: 6% !important;
        margin-bottom: -10px !important;
        border-left: 1px solid #000;
    }
}