.codeSnippet
{
    padding:5%;
    background-color: #3B434B;
    border-radius: 15px;
    word-spacing: 5px;
    line-height: 40px;

    &__Title
    {
        display: inline-block;
        color:white;
        border-bottom:1px solid white;
        margin-bottom: 5%;
    }

    &__code
    {
        font-size:17px;
        

        &-Comment
        {
            @extend .codeSnippet__code;
            color:#A7A7A7;}

        &-Link
        {
            
            @extend .codeSnippet__code;
            color:#84E3B7;

            &:hover
            {
                color:#84E3B7;
            }
        }

        &-Command
        {
            @extend .codeSnippet__code;
            color:#E37FC3;}

        &-Input
        {
            @extend .codeSnippet__code;
            color:white;
        }
    }

    
}