#mobileHeader
{
    padding:2%;
    &-bordered
    {
        border-bottom: 1px solid black;
        margin-left:-2%;
        padding:2%;

        a{
            
            padding:0px 0px 0px 35px;
        }

        @media (max-width:400px)
        {
            padding:5%;
        }
    }
}