.sideMenu {
    position: fixed;

    &__insideBorderContent {
        position: absolute;
        padding-bottom: 200%;
        border-right: 1px solid black;

        

        &:hover {
            color: #000;
            transition: all .2s;
            text-decoration: none;
            text-shadow: $stellaTextShadow;
        }

            
        .v-link {
            min-width:65px;
            font-size: 22px;
            color:#000;
            margin-top: 250%;
            display: inline-block;
            transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            
            &__v-lines
            {
                display: inline-block;
            }

            &__v-line
            {
                width: 20px;
                height: 2px;
                background-color: #333;
                margin: 6px 0px 3px 10px;
                transition: 0.4s;

                &-1
                {
                    @extend .v-link__v-line;
                    &--closed
                    {
                        -webkit-transform: rotate(-45deg) translate(-4px, 5px);
                        transform: rotate(-45deg) translate(-4px, 5px);
                    }
                }

                &-2
                {
                    @extend .v-link__v-line;
                    &--closed
                    {
                        -webkit-transform: rotate(45deg) translate(-1px, -2px);
                        transform: rotate(45deg) translate(-1px, -2px);
                    }
                }
            }
        }
    }

    &__outofBorderContent {
        font-size:13px;
        margin-top: 600%;
        color:$stellaTextColor;

        &-talk
        {
            color:$talkTextColor;
        }

        &-stella
        {
            color:$stellaTextColor;
        }

        &-event
        {
            color:$eventTextColor;
        }

        &-workshop
        {
            color:$workshopTextColor;
        }

        &-contact
        {
            color:$contactTextColor;
        }

        
        &__colourBubble,&__colourCode,&__colourName
        {
            position: absolute;
        }

        &__colourBubble
        {
            width:20px;
            height:20px;
            opacity:0.8;
            position:absolute;
            margin-right:15px;
            border-radius: 50%;
            display:inline-block;

            &-talk
            {
                @extend .sideMenu__outofBorderContent__colourBubble;
                background-image:$talkGradientVertical;
            }

            &-event
            {
                @extend .sideMenu__outofBorderContent__colourBubble;
                background-image:$eventGradientVertical;
            }

            &-workshop
            {
                @extend .sideMenu__outofBorderContent__colourBubble;
                background-image:$workshopGradientVertical;
            }
            &-stella
            {
                @extend .sideMenu__outofBorderContent__colourBubble;
                background-image:$stellaGradientVertical;
            }
            &-contact
            {
                @extend .sideMenu__outofBorderContent__colourBubble;
                background-image:$contactGradientVertical;
            }

        }

        &__colourCode
        {
            margin-left:30px;
            font-weight: 900;
            position:absolute;
        }

        &__colourName
        {
            font-weight:100;
            margin-top:20px;
            margin-left:50px;
        }
    }
}


@media (max-width:1500px) {
    .sideMenu {
        font-size: 13px;


        .v-link 
        {
                font-size:15px;
                
                &__v-lines
                {
                    margin-bottom:-2px;
                }

                &__v-line
                {
                width:13px;
                margin: 6px 0px 3px 10px;
                }
        }
        &__outofBorderContent 
        {
            margin-left: -20px;
            margin-top: 850%;
            
            

            &__colourBubble
            {
                width:15px;
                height:15px;
            }

            &__colourName{
            margin-left:20px;
            }
        }
    }
}




@media (max-width:870px) {


    .sideMenu
    {
            
        .v-link
        {

            margin-left:-30%;
        }

        &__outofBorderContent {
                font-size:11px;
                margin-top: 1050%;
        }
    }
}

