.svgFam
{
    position: relative;
    margin-top:3%;
    left:5%;
    
    &__topLeft,
    &__botLeft,
    &__topRight,
    &__botRight
    {
     top:30%;
     left:10%;
    }
    
    *
    {
        position: absolute;
    }
}