p
{
    color:$paragraphColour;
}




.App
{
    background:linear-gradient(#ffffff, #ffffff);
    transition: all .5s;

   &-openMenu
   {
        background:linear-gradient(#572D5A, #190819);
   }
}

@media (max-width:770px)
{
    #Content
    {
        margin-top:20%;
        
    }
}
