p
{
    color:$paragraphColour;
}




.App
{
    background:linear-gradient(#ffffff, #ffffff);
    transition: all .5s;
}

@media (max-width:770px)
{
    #Content
    {
        margin-top:20%;
        
    }
}

a{
    text-decoration: none!important;
}

